body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0f4c5c;
}

h1,h2,p{
    color: white;
}
#margen {

    background-color: #5f0f40;
    width: 80%;
    height: 100%
}

#navegador {
    background-color:#9a031e;
    width: 100%;
    display: flex;
}

#enlace {
    padding: 1%;
    padding-right: 2%;
    position: absolute;
    right:12%;
    width: 20%;
}
.enlace{
   
    color: #fb8b24;
    text-decoration: none;
    font-size: 20px;
    padding-left: 2%;
}

#logo {
    display: inline;
    font-size: 20px;
    padding-left: 1%;
}
#imagen{
    display: flex;
    justify-content: center;
    align-items: center;
}
#post{
    display: flex;
}
#publicar{
    display: block;
}
#publicacion{
    display: flex;
    justify-content: center;
}
#comentario{
    text-align: center;
    background-color: #0f4c5c;
    border: 1px solid wheat;
    display: block;
    width: 80%;
    
}
#info{
   
}